@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
	background-color: black;
	height: 100%;
}

.default-text {
	color: white;
	font-family: "Roboto Mono", monospace;
	font-weight: 200;
}

.default-button {
	border-style: none;
	border-color: #1B5048;
	border-radius: 28px;
	background-color: #1E5A51;
}

#tap-button {
	color: white;
	font-family: "Roboto Mono", monospace;
	font-weight: 280;

	position: absolute;
	bottom: 2px;
	margin: 0 auto;

	right: 2px;
	left: 2px;

	height: 50px;
	min-width: 20px;
	max-width: 99%;
}

.default-button:hover {
	
}